@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Sen:wght@400;700;800&display=swap');

body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font-family: 'Sen', 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

button {
  outline: none;
  border: none;
}

li {
  list-style: none;
}

input {
  border: 0;
  padding: 0;
}
